name: login
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.1

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^7.1.0
  pinput: ^6.0.1


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0  

flutter:
  uses-material-design: true
  assets:
    - assets\image\loginBgImg.png
    - assets\icon\google.png
    - assets\icon\image.png